<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="inetBankingV1">
    <test name="BankingApp Test">
        <parameter name="browser" value="firefox"/>
    <classes>
        <class name="com.inetBankingV1.testCases.tcLogintest001"/>
    </classes>
    </test>
</suite>